<div class="slideshow-container" id = "testContainer" style="width:60%;float:right">
   <div  ng-repeat="(key,val) in $ctrl.phoneDetail.images">
    <div style="float:center; font-size: 8pt; text-align: right; width: 20%; margin-right:200px; margin-bottom: 30px;height: 10px margin-top:200px; padding-left: 500px;">
      <img class="phones" ng-src='{{val}}'></img>
    </div>
  </div>
<div>
 <button id="prev" ng-click="$ctrl.plusDivs(-1)">prev</button>
 <button id="next" ng-click="$ctrl.plusDivs(1)"> next</button>
</div>






   



